ABOUT-NLS

Makefile
Makefile.in
Makefile.in.in
Makevars
aclocal.m4
configure
depcomp
install-sh
missing
stamp-h1
.version
autom4te.cache/
m4/

./config.*

doc/*.1
doc/*.html
doc/*.pdf

po/*~
po/*.gmo
po/*.header
po/*.sin
po/*.sed
po/POTFILES
po/Rules-quot
po/stamp-po

src/*.o
src/.deps/
src/calcurse

test/*.o
test/run-test
