ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
doc/*.html
doc/*.pdf
install-sh
m4/
missing
po/*~
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/de.gmo
po/en.gmo
po/en@boldquot.header
po/en@quot.header
po/es.gmo
po/fr.gmo
po/insert-header.sin
po/nl.gmo
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
src/*.o
src/.deps/
src/Makefile
src/Makefile.in
src/calcurse
stamp-h1
