ABOUT-NLS

Makefile
Makefile.in
Makefile.in.in
aclocal.m4
configure
compile
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
.version
autom4te.cache/
m4/

/config.*

/contrib/caldav/calcurse-caldav
/contrib/vdir/calcurse-vdir

doc/*.1
doc/*.html
doc/*.pdf

po/*~
po/*.gmo
po/*.header
po/*.sin
po/*.sed
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po

/scripts/calcurse-upgrade

src/*.o
src/.deps/
src/calcurse

test-driver
test/*.o
test/*.log
test/*.trs
test/run-test
test/.deps/
